{% extends 'core/base.html' %}

{% block content %}
<div class="container mt-5">
    <div class="row">
        <!-- Profilo dell'utente -->
        <div class="col-md-4">
            <div class="card">
                <img src="{{ profile.profileImg.url }}" class="card-img-top" alt="{{ profile.user.username }}'s Profile Image">
                <div class="card-body">
                    <h5 class="card-title">{{ profile.user.username }}</h5>
                    <p class="card-text">{{ profile.bio }}</p>
                </div>
            </div>
        </div>

        <!-- Cronologia delle partite -->
        <div class="col-md-8">
            <h2>Match History</h2>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Date</th>
                        <th scope="col">Winner</th>
                        <th scope="col">Loser</th>
                        <th scope="col">Score</th>
                    </tr>
                </thead>
                <tbody>
                    {% for match in match_history %}
                    <tr>
                        <td>{{ match.match_date|date:"F j, Y H:i" }}</td>
                        <td>{{ match.profile_winner.user.username }}</td>
                        <td>{{ match.profile_loser.user.username }}</td>
                        <td>{{ match.score_winner }} - {{ match.score_loser }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}
