{% extends 'core/base.html' %}
{% load static %}

{% block content %}
<div class="wrapper">
    <div class='d-flex flex-row justify-content-around'>
        <div class="container text-center mt-5">
            <h1 id="headingVS">Share this code with your opponent: {{room_code}}</h1>
            <div id = "game_board" room_code = {{room_code}}>
                <canvas id="pongCanvas" width="1200" height="500" class="mx-auto" style="display: none;"></canvas>
            </div>
        </div>
        <div class="flex-col justify-content-between">
            <div style="overflow: auto; max-height: 80vh;">
                <div id="messages"></div>
            </div>
            <form id="form">
                <input type="text" name="message"/>
            </form>
        </div> 
    </div>
</div>
<script src="{% static 'js/app.js' %}"></script>
{% endblock content %}