{% extends 'core/base.html' %}
{% load static %}

{% block content %}
<div class="container mt-5">
  <div class="p-4 mx-auto">
      <h2 class="text-center">Enter a room code to join a game</h2>
      <form method="POST" class="mb-3">
          {% csrf_token %}
          <div class="input-group mt-3">
              <input id="room" type="text" class="form-control" placeholder="Room ID" name="room_code" required />
              <div class="input-group-append">
                <button class="btn btn-primary" type="submit">Enter</button>
              </div>
          </div>
      </form>
      <h2 class="text-center">Or create a new game</h2>
      <form class="text-center mt-3" method="POST">
          {% csrf_token %}
          <input type="hidden" name="create_new" value="true" />
          <button type="submit" class="btn btn-success btn-block">Create new match</button>
      </form>
  </div>
</div>
{% endblock content %}