{% extends "core/base.html" %}
{% load i18n %}
{% block title %}Sign Up{% endblock  %}

{% block content %}
  <div class="container mt-5">
    <h2 class="mb-4">{% trans 'Sign Up' %}</h2>
    {% for message in messages %}
      <div>
        <div class="alert alert-danger" role="alert">
          {{message}}
        </div>
      </div>
    {% endfor %}
    <form method="post">
      {% csrf_token %}
      <div class="mb-3">
        <input type="text" class="form-control" name="username" placeholder="Username">
      </div>
      <div class="mb-3">
        <input type="text" class="form-control" name="email" placeholder="Email">
      </div>
      <div class="mb-3">
        <input type="password" class="form-control" name="password" placeholder="Password">
      </div>
      <div class="mb-3">
        <input type="password" class="form-control" name="password2" placeholder="Confirm Password">
      </div>
      <button type="submit" class="btn btn-primary">{% trans 'Sign Up' %}</button>
    </form>
  </div>
{% endblock %}