{% extends 'core/base.html' %}

{% block content %}
  <div class="container mt-5">
    <div class="d-flex justify-content-between align-items-center">
        <h2>Amici e Richieste di Amicizia Ricevute</h2>
        <a type="button" href="/friends/search/" class="btn btn-outline-secondary">Cerca Amici</a>
    </div>
    {% if friends %}
      <h3>Amici:</h3>
      <ul class="list-group">
        {% for friend in friends %}
          <li class="list-group-item d-flex justify-content-between align-items-center">
            {% if friend.user1 == user %}
              {{ friend.user2.username }}
            {% else %}
              {{ friend.user1.username }}
            {% endif %}
            <form method="post" action="{% url 'view_friends' %}">
              {% csrf_token %}
              <input type="hidden" name="friend_id" value="{{ friend.user2.id }}">
              <button type="submit" name="action" value="remove" class="btn btn-danger btn-sm float-right">Rimuovi Amico</button>
            </form>
          </li>
        {% endfor %}
      </ul>
    {% else %}
      <p>Nessun amico al momento.</p>
    {% endif %}

    {% if received_requests %}
    <h3>Richieste di Amicizia Ricevute:</h3>
    <ul class="list-group">
      {% for request in received_requests %}
        <li class="list-group-item d-flex justify-content-between align-items-center">
          {{ request.from_user.username }}
          <form method="post" action="{% url 'view_friends' %}">
            {% csrf_token %}
            <input type="hidden" name="friend_id" value="{{ request.from_user.id }}">
            <button type="submit" name="action" value="accept" class="btn btn-success btn-sm float-right">Accetta</button>
            <button type="submit" name="action" value="reject" class="btn btn-danger btn-sm float-right mr-2">Rifiuta</button>
          </form>
        </li>
      {% endfor %}
    </ul>
    {% else %}
        <p>Nessuna richiesta di amicizia ricevuta al momento.</p>
    {% endif %}
  </div>
{% endblock %}