{% extends 'core/base.html' %}
{% load i18n %}
{% block content %}
  <div class="container mt-5">
    <div class="d-flex justify-content-between align-items-center">
        <h2>{% trans 'Friends and friendship request' %}</h2>
        <a type="button" href="/friends/search/" class="btn btn-outline-secondary">{% trans 'Search Friends' %}</a>
    </div>
    {% if friends %}
      <h3>{% trans 'Friends:' %}</h3>
      <ul class="list-group">
        {% for friend in friends %}
          <li class="list-group-item d-flex justify-content-between align-items-center">
            {% if friend.user1 == user %}
              {{ friend.user2.username }}
            {% else %}
              {{ friend.user1.username }}
            {% endif %}
            <form method="post" action="{% url 'view_friends' %}">
              {% csrf_token %}
              <input type="hidden" name="friend_id" value="{{ friend.user2.id }}">
              <button type="submit" name="action" value="remove" class="btn btn-danger btn-sm float-right">{% trans 'Remove Friend' %}</button>
            </form>
          </li>
        {% endfor %}
      </ul>
    {% else %}
      <p>{% trans 'No Friends at the moment' %}</p>
    {% endif %}

    {% if received_requests %}
    <h3>{% trans 'Friend requests recived' %}</h3>
    <ul class="list-group">
      {% for request in received_requests %}
        <li class="list-group-item d-flex justify-content-between align-items-center">
          {{ request.from_user.username }}
          <form method="post" action="{% url 'view_friends' %}">
            {% csrf_token %}
            <input type="hidden" name="friend_id" value="{{ request.from_user.id }}">
            <button type="submit" name="action" value="accept" class="btn btn-success btn-sm float-right">{% trans 'Accept' %}</button>
            <button type="submit" name="action" value="reject" class="btn btn-danger btn-sm float-right mr-2">{% trans 'Refuse' %}</button>
          </form>
        </li>
      {% endfor %}
    </ul>
    {% else %}
        <p>{% trans 'No friend request at the moment' %}</p>
    {% endif %}
  </div>
{% endblock %}