{% extends 'core/base.html' %}

{% block content %}
  <div class="container mt-5">
    <h2>Ricerca Utenti e Invio Richiesta di Amicizia</h2>
    <form method="get" action="{% url 'search_and_send_friend_request' %}">
      <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Cerca utente" name="search_query" value="{{ search_query }}">
        <div class="input-group-append">
          <button class="btn btn-primary" type="submit">Cerca</button>
        </div>
      </div>
    </form>

    {% if users %}
      <h3>Risultati della ricerca:</h3>
      <ul class="list-group">
        {% for user in users %}
          <li class="list-group-item d-flex justify-content-between align-items-center">
            {{ user.username }}
            <form method="post" action="{% url 'search_and_send_friend_request' %}">
              {% csrf_token %}
              <input type="hidden" name="to_user_id" value="{{ user.id }}">
              <button type="submit" class="btn btn-success btn-sm float-right">Invia Richiesta</button>
            </form>
          </li>
        {% endfor %}
      </ul>
    {% endif %}
  </div>
{% endblock %}